
<div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-md-offset-2 col-sm-6 col-xs-12">
<p>
<%= link_to 'Create New Event', new_event_path,class:"btn btn-default"%>
</p>
<p id="notice"><%= notice %></p>
<h1>List of All Events</h1>
 
<table class="table">
<thead>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Date</th>
     <th>EventType</th>
    <th>Publish</th>
  </tr>
 </thead>
  <tbody>
  <% @events.each do |event| %>

    <tr>
      <td><%= event.title %></td>
      <td><%= event.location %></td>
       <td><%= event.date %></td>
   
        <td><%= event.eventtype %></td>
             <td><%= event.publish %></td>
      <td><%= link_to 'Details', event_path(event),class:"btn btn-info" %></td>
            <td><%= link_to 'Edit', edit_event_path(event),class:"btn btn-info" %></td>
                  <td><%= link_to 'Delete', event,method: :delete, data: {confirm: 'Are you Sure?'},class:"btn btn-info" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

</div>
</div>
</div>

 